<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js"></script>
    <script src="/js/index_script.js"></script>
    <title>Principal</title>
</head>
<body>

<form class="">
    <label for="cpf">CPF </label><br>
    <input type="number" id="cpf" name="cpf" required><br>

    <label for="senha">Senha </label><br>
    <input type="password" id="senha" name="senha" max="255" required><br>

    <input type="submit" value="Logar">
</form>
</body>
</html>